groups:
  - name: default
    rules:
    - alert: InstanceDown
      expr: up == 0
      for: 3m
      labels:
        severity: critical
      annotations:
        summary: "Instance {{ '{{ $labels.instance }}' }} down"
        description: "{{ '{{ $labels.instance }}' }} of job {{ '{{ $labels.job }}' }} is down"
